In [7]:
import pandas as pd
df = pd.read_csv('aging_model/age_des_vins_v6.csv')
end_df = pd.read_csv('aging_model/age_des_vins_end.csv')
areas = pd.read_csv('aging_model/areas.csv')

In [12]:
df['area']=df['area'].map(lambda x: x.upper())
df['cru']=df['cru'].map(lambda x: x.upper())

In [13]:
df

,area,cru,type,couleur,age_min,age_max,t_min,t_max,glass_type,comments,color
0,ALSACE GEWURZTRAMINER,ALSACE GEWURZTRAMINER GRAND CRU,sec,blanc,5.0,25.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
1,ALSACE PINOT GRIS,ALSACE PINOT GRIS GRAND CRU,sec,blanc,4.0,12.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
2,ALSACE MUSCAT,ALSACE MUSCAT GRAND CRU,sec,blanc,4.0,12.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
3,ALSACE RIESLING,ALSACE RIESLING GRAND CRU,sec,blanc,5.0,25.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
4,ALSACE CHASSELAS OU GUTEDEL,ALSACE CHASSELAS OU GUTEDEL,sec,blanc,1.0,5.0,15.0,0.0,Bordelais ; Alsacien,Les meilleurs jusqu'à 10 ans,blanc
...,...,...,...,...,...,...,...,...,...,...,...
920,VENTOUX,VENTOUX,sec,rouge,2.0,5.0,14.0,16.0,NaN,NaN,rouge
921,VENTOUX,VENTOUX,sec,blanc,1.0,4.0,10.0,12.0,NaN,NaN,blanc
922,VENTOUX,VENTOUX,sec,rosé,1.0,2.0,10.0,11.0,NaN,NaN,rosé
923,VINSOBRES,VINSOBRES,sec,rouge,3.0,8.0,16.0,16.0,NaN,NaN,rouge
924,RANCIO SEC,RANCIO SEC,sec,blanc,1.0,20.0,13.0,15.0,NaN,NaN,blanc

In [84]:
areas['name'] = areas['name'].map(lambda x: x.upper())
areas['true_area_id']=areas['id']

In [22]:
first_join = areas.merge(df, how='outer', right_on='cru', left_on='name')
reste = first_join[first_join.area.isna()][['id','name']]
reste

        id                               name
11    65.0                             CÉRONS
30    21.0                       ALOXE-CORTON
83    70.0            VINS DE PAYS/IGP NIÈVRE
84    71.0  VINS DE PAYS/IGP LOIRE-ATLANTIQUE
91    74.0       VINS DE PAYS/IGP DEUX SÈVRES
..     ...                                ...
841  390.0                 CORTON-CHARLEMAGNE
842  399.0                             CORTON
852  435.0                         PIERREVERT
857  421.0                     VINS-D'ESTAING
883  445.0                   ALSACE GRAND CRU

[96 rows x 2 columns]

In [56]:
res_1 = first_join[(first_join['name'].isna()==False)&(first_join['area'].isna()==False)]

In [46]:
sec_join = reste.merge(df, how='outer', left_on='name', right_on='area')
reste_2 = sec_join[sec_join.area.isna()][['id','name']]
reste_2

        id                                               name
5     70.0                            VINS DE PAYS/IGP NIÈVRE
6     71.0                  VINS DE PAYS/IGP LOIRE-ATLANTIQUE
7     74.0                       VINS DE PAYS/IGP DEUX SÈVRES
8     79.0                            VINS DE PAYS/IGP VIENNE
9     84.0                            VINS DE PAYS/IGP VENDÉE
10    68.0                             VINS DE PAYS/IGP MEUSE
11    61.0                      VINS DE PAYS/IGP SAINTE-BAUME
12    63.0                            VINS DE PAYS/IGP ARGENS
13    97.0                       VINS DE PAYS/IGP PETITE CRAU
14    98.0              VINS DE PAYS/IGP PRINCIPAUTÉ D'ORANGE
15    52.0                                       SAINT-JULIEN
16   116.0                   VINS DE PAYS/IGP TARN ET GARONNE
19   120.0                VINS DE PAYS/IGP CÔTES DU CONDOMOIS
25   196.0                 VINS DE PAYS/IGP CÔTES DE PÉRIGNAN
26   197.0                 VINS DE PAYS/IGP CÔTES DU CERESSOU
45   121.0              VINS DE PAYS/IGP PYRÉNÉES-ATLANTIQUES
53   135.0                    VINS DE PAYS/IGP LOT-ET-GARONNE
54   137.0                      VINS DE PAYS/IGP SAINT-SARDOS
55   162.0                   VINS DE PAYS/IGP VALLÉE DE L'ORB
58   163.0        VINS DE PAYS/IGP COTEAUX DU LITTORAL AUDOIS
59   165.0                      VINS DE PAYS/IGP VAL DE CESSE
60   166.0                            VINS DE PAYS/IGP BESSAN
61   167.0                          VINS DE PAYS/IGP CESSENON
62   170.0                      VINS DE PAYS/IGP MONT BAUDILE
63   171.0          VINS DE PAYS/IGP HAUTES VALLÉES DE L'AUDE
64   209.0                  VINS DE PAYS/IGP GRAND-ROUSSILLON
65   210.0                         VINS DE PAYS/IGP HAUTERIVE
66   211.0                            VINS DE PAYS/IGP CASSAN
67   214.0                   VINS DE PAYS/IGP HAUTS DE BADENS
68   215.0               VINS DE PAYS/IGPCOTEAUX DE FONTCAUDE
69   216.0                VINS DE PAYS/IGP COTEAUX DE MURVIEL
70   225.0                           VINS DE PAYS/IGP CATALAN
71   228.0              VINS DE PAYS/IGP COLLINES DE LA MOURE
72   229.0                VINS DE PAYS/IGP VAL DE MONTFERRAND
73   240.0                VINS DE PAYS/IGP COTEAUX DU SALAGOU
74   241.0                          VINS DE PAYS/IGP LASTOURS
75   470.0                                 RATAFIA CHAMPENOIS
76   244.0                VINS DE PAYS/IGP COTEAUX DE LAURENS
77   245.0                VINS DE PAYS/IGP COTEAUX DU SALAVÈS
78   246.0                           VINS DE PAYS/IGP BÉNOVIE
79   230.0              VINS DE PAYS/IGP COTEAUX DE BESSILLES
80   249.0                VINS DE PAYS/IGPCOTEAUX DE MIRAMONT
81   272.0               VINS DE PAYS/IGP PYRÉNÉES-ORIENTALES
82   273.0                              VINS DE PAYS/IGP CAUX
83   275.0                 VINS DE PAYS/IGP MONTS DE LA GRAGE
84   277.0                  VINS DE PAYS/IGP TERROIRS LANDAIS
85   278.0                          VINS DE PAYS/IGP DORDOGNE
86   256.0             VINS DE PAYS/IGP COTEAUX DE MONTÉLIMAR
87   267.0            VINS DE PAYS/IGP COTEAUX DU GRÉSIVAUDAN
88   265.0              VINS DE PAYS/IGP COTEAUX DE L'ARDÈCHE
89   260.0               VINS DE PAYS/IGP BALMES DAUPHINOISES
98   274.0           VINS DE PAYS/IGP SABLES DU GOLFE DU LION
99   464.0                            MOSELLE LUXEMBOURGEOISE
100  465.0                              CRÉMANT-DE-LUXEMBOURG
101  424.0                               PINEAU-DES-CHARENTES
104  139.0  VINS DE PAYS/IGP COTEAUX ET TERRASSES DE MONTA...
105  213.0          VINS DE PAYS/IGP COTEAUX DES FENOUILLÈDES
106  390.0                                 CORTON-CHARLEMAGNE
109  435.0                                         PIERREVERT
112  445.0                                   ALSACE GRAND CRU

In [60]:
res_2 = sec_join[(sec_join['name'].isna()==False)&(sec_join['area'].isna()==False)]

In [44]:
end_df = pd.read_csv('aging_model/age_des_vins_end.csv', delimiter=";")
end_df.name=end_df.name.map(lambda x: x.upper())
end_df['area'] = end_df['name']
end_df.drop( inplace=True, labels='name', axis=1)

In [106]:
end_df[end_df['id']==71]

,id,region_id,id.1,area_id,color,age_min,age_max,t_min,t_max,glass_type,comments,area
722,71,9,724.0,71.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,VINS DE PAYS/IGP LOIRE-ATLANTIQUE

In [61]:
third_join = reste_2.merge(end_df, how='outer', left_on='name', right_on='area')
third_join

,id_x,name,id_y,region_id,id.1,area_id,color,age_min,age_max,t_min,t_max,glass_type,comments,area
0,70.0,VINS DE PAYS/IGP NIÈVRE,70,9,729.0,70.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,VINS DE PAYS/IGP NIÈVRE
1,71.0,VINS DE PAYS/IGP LOIRE-ATLANTIQUE,71,9,724.0,71.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,VINS DE PAYS/IGP LOIRE-ATLANTIQUE
2,74.0,VINS DE PAYS/IGP DEUX SÈVRES,74,9,717.0,74.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,VINS DE PAYS/IGP DEUX SÈVRES
3,79.0,VINS DE PAYS/IGP VIENNE,79,9,743.0,79.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,VINS DE PAYS/IGP VIENNE
4,84.0,VINS DE PAYS/IGP VENDÉE,84,9,742.0,84.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,VINS DE PAYS/IGP VENDÉE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,NaN,NaN,469,4,NaN,NaN,blanc,1.0,3.0,8.0,10.0,NaN,NaN,TOURAINE-CHENONCEAUX
861,NaN,NaN,438,4,NaN,NaN,rouge,3.0,10.0,14.0,15.0,NaN,NaN,TOURAINE-MESLAND
862,NaN,NaN,438,4,NaN,NaN,blanc,1.0,5.0,8.0,10.0,NaN,NaN,TOURAINE-MESLAND
863,NaN,NaN,438,4,NaN,NaN,rosé,1.0,3.0,8.0,10.0,NaN,NaN,TOURAINE-MESLAND
864,NaN,NaN,468,4,NaN,NaN,blanc,1.0,5.0,10.0,12.0,NaN,NaN,TOURAINE-OISLY

In [109]:
res_3 = third_join[(third_join['name'].isna()==False)&(third_join['area'].isna()==False)]
res_3 = res_3[res_3.color.isna()==False]

In [110]:
res_3

,id_x,name,id_y,region_id,id.1,area_id,color,age_min,age_max,t_min,t_max,glass_type,comments,area
10,52.0,SAINT-JULIEN,52,17,NaN,NaN,rouge,10.0,35.0,16.0,17.0,NaN,NaN,SAINT-JULIEN
57,390.0,CORTON-CHARLEMAGNE,390,15,NaN,NaN,blanc,5.0,20.0,12.0,14.0,NaN,NaN,CORTON-CHARLEMAGNE
59,445.0,ALSACE GRAND CRU,445,1,NaN,NaN,blanc,5.0,30.0,10.0,12.0,NaN,NaN,ALSACE GRAND CRU

In [111]:
final = pd.concat([res_1,res_2,res_3]).merge(areas, how='inner', on='name')
final

/home/lancelot/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,age_max,age_min,area,area_id,color,comments,couleur,cru,glass_type,id_x,...,id_x,id_y,name,region_id_x,t_max,t_min,type,id_y,region_id_y,true_area_id
0,10.0,2.0,TOURAINE-AZAY-LE-RIDEAU,NaN,blanc,NaN,blanc,TOURAINE-AZAY-LE-RIDEAU,NaN,375.0,...,NaN,NaN,TOURAINE-AZAY-LE-RIDEAU,4.0,12.0,10.0,sec,375,4,375
1,3.0,1.0,TOURAINE-AZAY-LE-RIDEAU,NaN,rosé,NaN,rosé,TOURAINE-AZAY-LE-RIDEAU,NaN,375.0,...,NaN,NaN,TOURAINE-AZAY-LE-RIDEAU,4.0,12.0,10.0,sec,375,4,375
2,16.0,4.0,PALETTE,NaN,rouge,NaN,rouge,PALETTE,NaN,4.0,...,NaN,NaN,PALETTE,2.0,17.0,15.0,sec,4,2,4
3,12.0,4.0,PALETTE,NaN,blanc,NaN,blanc,PALETTE,NaN,4.0,...,NaN,NaN,PALETTE,2.0,12.0,10.0,sec,4,2,4
4,6.0,2.0,PALETTE,NaN,rosé,NaN,rosé,PALETTE,NaN,4.0,...,NaN,NaN,PALETTE,2.0,13.0,10.0,sec,4,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,5.0,2.0,VINS-D'ESTAING,NaN,blanc,NaN,blanc,TURSAN,NaN,421.0,...,NaN,NaN,VINS-D'ESTAING,NaN,10.0,8.0,sec,421,7,421
842,3.0,1.0,VINS-D'ESTAING,NaN,rosé,NaN,rosé,TURSAN,NaN,421.0,...,NaN,NaN,VINS-D'ESTAING,NaN,11.0,10.0,sec,421,7,421
843,35.0,10.0,SAINT-JULIEN,NaN,rouge,NaN,NaN,NaN,NaN,NaN,...,52.0,52.0,SAINT-JULIEN,17.0,17.0,16.0,NaN,52,17,52
844,20.0,5.0,CORTON-CHARLEMAGNE,NaN,blanc,NaN,NaN,NaN,NaN,NaN,...,390.0,390.0,CORTON-CHARLEMAGNE,15.0,14.0,12.0,NaN,390,15,390
845,30.0,5.0,ALSACE GRAND CRU,NaN,blanc,NaN,NaN,NaN,NaN,NaN,...,445.0,445.0,ALSACE GRAND CRU,1.0,12.0,10.0,NaN,445,1,445

In [112]:
result = final[['age_min','age_max','true_area_id','t_min','t_max','color','comments','glass_type','type']]
result.to_csv('age_des_vins_v8.csv', index=False)

In [113]:
result.shape

(846, 9)