In [27]:
import pandas as pd

df = pd.read_csv('aging_model/age_des_vins.csv')
area_vintage = pd.read_csv('aging_model/dataclips_areavintage.csv', header=0, usecols=[0,2,5,8], names=['id','color','area_name','region_name'])

In [70]:
areas = area_vintage.groupby('area_name').agg({'color':'count'}).reset_index()
areas['area_name'] = areas['area_name'].map(lambda x:x.upper())

In [52]:
areas.head(), areas.shape

(                             color
 area_name
 Ajaccio                          4
 Aloxe-corton                     3
 Alsace chasselas ou gutedel      1
 Alsace edelzwicker               1
 Alsace gewurztraminer            1, (363, 1))

In [69]:
df['Couleur'] = df['Couleur'].map(lambda x: 'rosé' if x=='pink' else x)
df['Cru'].map(lambda x:x.upper())

0                                    ALSACE
1                                    ALSACE
2                                    ALSACE
3                                    ALSACE
4                         ALSACE GRAND CRU
                       ...
935        VINS DE PAYS/IGP VALLÉE DE L'ORB
936                 VINS DE PAYS/IGP VENDÉE
937                 VINS DE PAYS/IGP VIENNE
938    VINS DE PAYS/IGPCOTEAUX DE FONTCAUDE
939     VINS DE PAYS/IGPCOTEAUX DE MIRAMONT
Name: Cru, Length: 940, dtype: object

In [47]:
app = df.groupby(['Appellation']).agg({'Couleur':'count'}).reset_index()

In [56]:
app.head(),app.shape

(                 Appellation  Couleur
 0                    Ajaccio        3
 1               Aloxe-Corton        4
 2                     Alsace        8
 3                      Anjou        5
 4  Anjou-coteaux-de-la-loire        1, (437, 2))

In [53]:
app.merge(areas,how='inner',left_on='Appellation',right_on='area_name')

                             Appellation  Couleur  color
0                                Ajaccio        3      4
1              Anjou-coteaux-de-la-loire        1      1
2                         Anjou-villages        1      1
3                 Anjou-villages-brissac        1      1
4                                 Arbois        5      4
..                                   ...      ...    ...
237  Vins de pays/IGPCoteaux de Narbonne        3      4
238                       Vins-d'estaing        2      4
239                               Volnay        2      1
240                              Vougeot        4      1
241                              Vouvray        3      1

[242 rows x 3 columns]

df['Cru']

In [98]:
cru = df.groupby(['Cru','Appellation']).agg({'Couleur':'count'}).reset_index()
cru['Cru']= cru['Cru'].map(lambda x: x.strip().upper())
cru['Appellation']= cru['Appellation'].map(lambda x: x.strip().upper())

In [58]:
cru.shape

(505, 2)

In [99]:
outer_join = cru.merge(areas, how='outer', left_on='Cru', right_on='area_name')

In [100]:
outer_join[outer_join.Cru.isna()]

     Cru Appellation  Couleur                         area_name  color
509  NaN         NaN      NaN                      ALOXE-CORTON    3.0
510  NaN         NaN      NaN       ALSACE CHASSELAS OU GUTEDEL    1.0
511  NaN         NaN      NaN                ALSACE EDELZWICKER    1.0
512  NaN         NaN      NaN             ALSACE GEWURZTRAMINER    1.0
513  NaN         NaN      NaN  ALSACE KLEVENER-DE-HEILIGENSTEIN    1.0
..   ...         ...      ...                               ...    ...
596  NaN         NaN      NaN                  TOURAINE-MESLAND    1.0
597  NaN         NaN      NaN                    TOURAINE-OISLY    1.0
598  NaN         NaN      NaN                        TÂCHE (LA)    1.0
599  NaN         NaN      NaN                    VINS-D'ESTAING    4.0
600  NaN         NaN      NaN                         ÉCHÉZEAUX    1.0

[92 rows x 5 columns]

In [101]:
outer_join[outer_join.area_name.isna()]

,Cru,Appellation,Couleur,area_name,color
1,ALOXE-CORTON PREMIER CRU,Aloxe-Corton,2.0,NaN,NaN
2,ALOXE-CORTON VILLAGES,Aloxe-Corton,2.0,NaN,NaN
3,ALSACE,Alsace,4.0,NaN,NaN
5,ANJOU,Anjou,4.0,NaN,NaN
6,ANJOU GAMAY,Anjou,1.0,NaN,NaN
...,...,...,...,...,...
499,VINS DE PAYS/IGPHAUTES-ALPES,Vins de pays/IGPHautes-Alpes,4.0,NaN,NaN
500,VINSOBRES,Vinsobres,1.0,NaN,NaN
503,VOLNAY PREMIER CRU,Volnay,1.0,NaN,NaN
505,VOSNE-ROMANÉE PREMIER CRU,Vosne-Romanée,1.0,NaN,NaN
507,VOUGEOT PREMIER CRU,Vougeot,2.0,NaN,NaN

In [82]:
areas[areas['area_name']=='ALSACE GRAND CRU']

          area_name  color
5  ALSACE GRAND CRU      1

In [88]:
cru.head()

                        Cru   Appellation  Couleur
0                   AJACCIO       Ajaccio        3
1  ALOXE-CORTON PREMIER CRU  Aloxe-Corton        2
2     ALOXE-CORTON VILLAGES  Aloxe-Corton        2
3                    ALSACE        Alsace        4
4         ALSACE GRAND CRU         Alsace        2

In [97]:
cru.iloc[4,0].strip()

'ALSACE GRAND CRU'